<h1>Let's create a new list</h1>
<br>
<br>
<%= simple_form_for [@list] do |f| %>
<%= f.input :name %>
<%= f.input :photos, as: :file, input_html: { multiple: true } %>
<%= f.submit %>
<% end %>

<br>
<br>
